.whitesmoke {color: whitesmoke !important;}

 .v-select.open {width: 150px !important;}
 
.my_vue_table td { display: inline-block !important; } /*Меню в строчку!*/
.input_select { height:27px } 

.v-select .selected-tag,
.v-select input[type=search], .v-select input[type=search]:focus { top: -4px !important; left: 4px !important; margin:0px !important;  padding: 0px !important; }
.v-select.open .selected-tag,
.v-select.open input[type=search], .v-select.open input[type=search]:focus { top: 0px !important;  left: 0px !important;; margin:0px !important;  padding: 0px !important;}
.v-select .dropdown-toggle .clear {    bottom: 6px;}
.v-select{ color:#006798; background: white; }

.my_vue_table img.ui-datepicker-trigger {height:27px; width:20px; padding-bottom:4px; cursor:pointer;}
.my_vue_table img.ui-datepicker-trigger { cursor: pointer !important; }

span.selected-tag ~ .form-control {  width: 60px !important;  }
.dropdown.v-select.single.searchable { height: 27px; }

.v-select .ui-button-text {padding: 0px 0px;font-weight: 999;}
.v-select .open-indicator, .v-select .open-indicator:before { top:7px}
/*
.v-select .dropdown-toggle .clear { bottom: 5px; }
.v-select.open .open-indicator {    bottom: -5px;}
.v-select .open-indicator {    bottom: 1px;}
.dropdown.v-select.single.searchable { height: 20px; }
*/
   .bounce-enter-active {  animation: bounce-in .5s;}
  .bounce-leave-active {  animation: bounce-in .5s reverse;}
  @keyframes bounce-in {   0% {    transform: scale(0);  }   50% {transform: scale(1.5);}   100% {transform: scale(1);} }
  
.icons_in_panel{width:20px;}


